*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #181719;
    max-width: 1440px;
    max-height: 1080px;
   
}
/* navbar */
#desktop nav{
    flex-wrap: wrap;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 147px;
    
    
}

nav h1 {
    margin: 42px 77px;
    border: 1px solid white;
    padding: 6px;
    font-size: 14px;
}
h1 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
nav ul{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 32px;
    width: 102px;
}
nav ul li {
    
    margin-right:43px;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    
    
}
nav ul li a {
    margin: 5px;
    padding: 4px 6px;
    text-decoration: none;
    font-weight: 500;

}
nav ul li a:hover {
    border-bottom: 2px solid white;
    font-weight: 700;

}
nav   button {
    display:none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
}
#mobile  {
    display: none;
    width: 100%;
    height: auto;
    margin: 0;
    
}

.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.main-text{
    margin-left: 77px;
    margin-right: 86px;
    width: 30%;
    font-family:'Montserrat', sans-serif;
}
.main-text h2 {
    font-family: Lora;
    font-size: 48px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
    
}
.main-text p {
    font-family: 'Montserrat', sans-serif;;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: left;
    margin-bottom: 40px;
    
    max-width: 100%;
    height: auto;
    
}
.main-text a {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    line-height: 22px;
    padding: 1px;
    
}
.main-text a i{
    
    font-size: 18px;
    margin-left: 14px;
    align-items: center;
    line-height: 22px;
    
}
.main-image img{
    margin: 24px 32px 8px 52px;
    
    max-width: 100%;
    height: auto;
   

}
.main-image {
    max-width: 737px;
    max-height:555px;
    
    
}
aside{
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    width: 410px;
    height: 189px;
    left: 921px;
    top: 722px;
    border-radius: 2px;
    border-bottom: 34px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

aside .image-box{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 1px;
    
    
    align-content: center;
}
aside .text-box{
    
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 23px;
}
aside img {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 23px;
    height: 50px;
    width: 50px; 
    border-radius: 50%;
    
}
aside p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    margin-top: 8px;
    margin-bottom: 30px;
    
}
aside .name{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px ;
    
}
aside .job{
    margin-left: 14px;
    display: flex;
    font-family: 'Lora';
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    width: 287px;
    height: 62px;
    
    
}

footer{
    text-align: center;
    margin-top: 129px;
    margin-bottom: 24px ;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
}

/* 1376 broke a card*/
@media (max-width: 1397px ){
    
    nav ul{
        display:none;
    }
    nav button{
        display: flex;

    }
    aside {
        display:none;
        position: absolute ;
        width: 300px;
        height: 138px;
        
    }

}

/* 768 tablet size */
@media  (max-width: 768px ) {
    
    aside {
      
        width: 300px;
        height: 138px;
        left: 52px;
        top: 536px
    }
}